.menu {
    margin: 0;
    padding: 0;
    width: auto;
    height: 30px;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    float: left;
    padding: 0px;
    margin: 0;
    width: 80px;
    border-left: #666666 thin solid;
}

.menu a{
    display: block;
    text-decoration: none;
    padding: 6px;
    background-color: #CCCCCC;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    }

.menu li.primeiro-botao-menu{
border: none;}
