iframe{
    width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
}

#container {
    width: 1728px;
    height: 1519px;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

#destaque {
    width: 1422px;
    height: 510px;
    background-color: #8E78D6;
    border-radius: 50px;
    margin: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.frase1 {
    color: #DAA520;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.frase2 {
    color: #FF0000;
    font-size: 16px;
    text-align: center;
}

#destaque img {
    width: 500px;
    height: 218px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}